.logo-spacer {
    width: 200px;
    height: 50px;
    background: #000;
    margin: 35px auto 20px auto;
}

#query {
    width: 250px;
    margin: 10px auto;
}

.container-1 {
    position: relative;
    max-width:500px;
    /*margin: 0 auto;*/
}

.nav-wrapper .input-field input[type=search] {
    margin-left: 10rem;
    padding-left: 0;
    width: calc(100% - 10rem);
}

.border {
    border: 1px solid pink;
}

.card img {
  width: 150px;
  height: 150px;
  padding: 10px 40px;
}

.card-content p {
  text-align:left;
}
